@import url('https://fonts.googleapis.com/css?family=Literata|Roboto');
.book.font-family-0 {font-family: Literata, serif;}
.book.font-family-1 {font-family: Roboto, sans-serif;}
.book .book-body .page-wrapper .page-inner section.normal {line-height: 1.7em;}
